[Unit]
Description=Run cache cleanup periodically
Requires=cache-cleanup.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
